<h1>Generic Company Sales Data</h1>

  <% @sales.each do |sale| %>
    <% if sale.name == 'Ricky Bobby' %>
      <p><span style="background-color:yellow"><%= "Name:  #{sale.name},  Sale:  $#{sale.sale}"%></span></p>
    <% else %> 
      <p><%= "Name:  #{sale.name},  Sale:  $#{sale.sale}"%></p>
    <% end %>
  <% end %>



